@import "picnic";

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

th {
  font-weight: normal;
}

.c-page-header {
  text-align: center;

  &__alternative {
    color: #aaa;
    font-weight: normal;
  }
}

.c-request {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;

  &__method {
    &--GET {
      color: $green;
    }
    &--POST {
      color: $blue;
    }
    &--PUT {
      color: $yellow;
    }
    &--PATCH {
      color: $teal;
    }
    &--DELETE {
      color: $red;
    }
  }

  &__headers {
    display: table;
    width: 100%;

    th {
      white-space: nowrap;
    }
  }

  &__body {
    pre {
      margin: 0;
      padding: 2rem 0.6rem;
    }
  }
}
